@font-face {
    font-family: Kanit-Black;
    src: url('Kanit-Black.ttf');
}
@font-face {
    font-family: Kanit-BlackItalic;
    src: url('Kanit-BlackItalic.ttf');
}
@font-face {
    font-family: Kanit-Bold;
    src: url('Kanit-Bold.ttf');
}
@font-face {
    font-family: Kanit-BoldItalic;
    src: url('Kanit-BoldItalic.ttf');
}
@font-face {
    font-family: Kanit-ExtraBold;
    src: url('Kanit-ExtraBold.ttf');
}
@font-face {
    font-family: Kanit-ExtraBoldItalic;
    src: url('Kanit-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Kanit-ExtraLight;
    src: url('Kanit-ExtraLight.ttf');
}
@font-face {
    font-family: Kanit-ExtraLightItalic;
    src: url('Kanit-ExtraLightItalic.ttf');
}
@font-face {
    font-family: Kanit-Italic;
    src: url('Kanit-Italic.ttf');
}
@font-face {
    font-family: Kanit-Light;
    src: url('Kanit-Light.ttf');
}
@font-face {
    font-family: Kanit-LightItalic;
    src: url('Kanit-LightItalic.ttf');
}
@font-face {
    font-family: Kanit-Medium;
    src: url('Kanit-Medium.ttf');
}
@font-face {
    font-family: Kanit-MediumItalic;
    src: url('Kanit-MediumItalic.ttf');
}
@font-face {
    font-family: Kanit-Regular;
    src: url('Kanit-Regular.ttf');
}
@font-face {
    font-family: Kanit-SemiBold;
    src: url('Kanit-SemiBold.ttf');
}
@font-face {
    font-family: Kanit-SemiBoldItalic;
    src: url('Kanit-SemiBoldItalic.ttf');
}
@font-face {
    font-family: Kanit-Thin;
    src: url('Kanit-Thin.ttf');
}
@font-face {
    font-family: Kanit-Thin;
    src: url('Kanit-ThinItalic.ttf');
}