body {
	container: body / inline-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	color: #2f2f2f;
	font-family: 'Inter';
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
	background-color: #fff;
	padding-bottom: 31px;
	overflow: auto;
}

.btn-symbol-a {
	width: 370px;
	min-height: 78px;
	display: flex;
	flex-shrink: 0;
	font-style: normal;
	letter-spacing: 0px;
	text-align: left;
	background-color: #efefef;
	padding: 26px 0;
}

.text-symbol-c {
	min-height: 25px;
	flex-shrink: 0;
	font-size: 20px;
}

.btn-symbol-b {
	width: 116px;
	min-height: 39px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	align-self: start;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: #3293f0;
	padding: 10px 8px 3px 8px;
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 13px;
	align-self: stretch;
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	background: linear-gradient(90deg, #3293f0 0%, #005eb8 100%) top left / auto auto no-repeat;
	padding: 7px 126px 3px 126px;
}

.header-text {
	margin-top: 1px;
	min-height: 18px;
	text-align: left;
}

.header-social {
	flex-shrink: 0;
	aspect-ratio: 1 / 1;
}

.header-text-service {
	margin-left: 8px;
}

.header-ion-social {
	margin-left: 12px; margin-top: 1px;
	width: 13px;
}

.header-garden-line {
	margin-top: 2px;
	width: 12px;
}

.header-stash-social {
	width: 14px;
}

.header-lineicons {
	margin-top: 1px;
	width: 14px;
}

.row1 {
	margin: 0 auto;
	width: 90%;
	max-width: 1194px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	font-size: 16px;
	font-weight: 400;
}

.text-symbol-a {
	margin-top: 16px;
	text-align: left;
}

.text-symbol-b {
	margin-top: 17px;
	min-height: 18px;
	text-align: left;
}

.icon {
	flex-shrink: 0;
}

.logo {
	margin-bottom: -1px;
	width: 63px;
	flex-shrink: 0;
}

.text1 {
	margin-left: 32px;
}

.text-symbol1 {
	margin-left: 22px;
}

.text-symbol2 {
	margin-left: 21px;
}

.text-symbol3 {
	margin-left: 15px;
}

.text2 {
	margin-left: 24px;
}

.text-symbol4 {
	margin-left: 37px;
}

.icon-cart {
	margin: 17px 2px 0 auto;
	width: 15px; height: 16px;
}

.line {
	margin-right: 2px; margin-top: 19px;
	width: 0; height: 14px;
	flex-shrink: 0;
	border-left: 1px solid #2f2f2f;
}

.icon-user {
	margin-top: 18px;
	width: 12px; height: 14px;
}

.text-right {
	margin-top: 17px;
	min-height: 18px;
	font-size: 14px;
	text-align: left;
}

.img-slide {
	margin: 18px auto 0 auto;
	width: 90%;
	max-width: 1198px;
	flex-shrink: 0;
}

.row2 {
	margin-top: 11px;
	display: flex;
	align-items: flex-start;
	gap: 9px;
}

.circle {
	width: 8px; height: 8px;
	flex-shrink: 0;
	background-color: #d9d9d9;
	border-radius: 50%;
}

.circle-blue {
	background-color: #2d8eea;
}

.subtitle-symbol1 {
	margin: 21px auto 0 auto;
	width: 90%;
	max-width: 1196px;
	min-height: 18px;
	flex-shrink: 0;
}

.row3 {
	margin-top: 32px;
	display: flex;
	align-items: flex-start;
	gap: 26px;
	font-size: 20px;
}



/* card-a */

.card-a {
	width: 382px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-shrink: 0;
	text-align: left;
	background-color: #efefef;
	padding-bottom: 29px;
}

.card-mask-group1 {
	flex-shrink: 0;
}

.card-text1 {
	min-height: 18px;
	flex-shrink: 0;
}
/* end card-a*/


.card-left1 .card-text1 {
	margin-left: 26px; margin-right: 26px;
}

.group {
	position: relative;
	width: 382px;
	flex-shrink: 0;
	text-align: left;
	padding: 230px 202px 29px 30px;
}

.rect1 {
	position: absolute; top: 0; left: 0; right: 0; 
	height: 277px;
	background-color: #efefef;
}

.text-symbol5 {
	position: relative; z-index: 1;
	min-height: 18px;
}

.mask-group1 {
	position: absolute; z-index: 2; top: -4px; left: 0; right: 0; 
	width: 100%;
}

.card-right1 .card-text1 {
	width: 322px;
	align-self: center;
}

.row4 {
	margin-left: 121px; margin-top: 11px;
	display: flex;
	align-items: flex-start;
	gap: 26px;
	align-self: start;
	font-size: 20px;
}



/* card-b */

.card-b {
	width: 382px;
	min-height: 277px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-shrink: 0;
	text-align: left;
	background-color: #efefef;
}

.card-mask-group2 {
	flex-shrink: 0;
}

.card-text2 {
	min-height: 18px;
	flex-shrink: 0;
}
/* end card-b*/


.card-left2 .card-text2 {
	margin-left: 26px; margin-right: 26px;
}

.card-right2 .card-text2 {
	width: 321px;
	align-self: center;
}

.subtitle-symbol2 {
	margin: 72px auto 0 auto;
	width: 90%;
	max-width: 1194px;
}

.row5 {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	gap: 44px;
	font-size: 20px;
}

.btn {
	padding-left: 40px;
	padding-right: 40px;
}

.btn-symbol1 {
	padding-left: 38px;
	padding-right: 38px;
}

.btn-symbol2 {
	padding-left: 38px;
	padding-right: 38px;
}

.btn-symbol3 {
	margin-left: 121px; margin-right: auto; margin-top: 10px;
	width: 90%;
	max-width: 370px;
	align-self: start;
	font-size: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.subtitle-symbol3 {
	margin: 77px auto 0 auto;
	width: 90%;
	max-width: 1194px;
	min-height: 18px;
	flex-shrink: 0;
}

.screenshot1 {
	margin: 10px auto 0 auto;
	width: 90%;
	max-width: 1209px;
	flex-shrink: 0;
}

.col {
	container: col / inline-size;
	margin-top: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	align-self: stretch;
	background-color: #efefef;
	padding: 59px 24px 102px 24px;
}

.subtitle-symbol4 {
	width: 100%;
	max-width: 1194px;
	min-height: 18px;
	flex-shrink: 0;
}

.row6 {
	display: flex;
	align-items: flex-start;
	gap: 17px;
}



/* card-c */

.card-c {
	position: relative;
	width: 388px;
	min-height: 437px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 35px;
	flex-shrink: 0;
	text-align: left;
	background-color: #fff;
	padding: 21px 22px;
}

.card-mask-group3 {
	position: absolute; top: 0; left: 0; right: 0; 
	width: 100%;
}
/* end card-c*/


.card-left3 {
	width: 388px;
	min-height: 437px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 17px;
	flex-shrink: 0;
	text-align: center;
	background-color: #fff;
	padding-bottom: 21px;
}

.card-left-mask-group {
	flex-shrink: 0;
}

.card-left-btn-bottom {
	margin-left: 22px; margin-top: 17px;
	align-self: start;
}

.subtitle-symbol5 {
	margin: 40px auto 0 auto;
	width: 90%;
	max-width: 1194px;
	min-height: 18px;
	flex-shrink: 0;
}

.screenshot2 {
	margin: 42px auto 0 auto;
	width: 90%;
	max-width: 1193px;
	flex-shrink: 0;
}

.group-bottom {
	position: relative;
	margin-top: 97px;
	height: 353px;
	flex-shrink: 0;
	align-self: stretch;
}

.rect2 {
	position: absolute; top: 0; left: 0; right: 0; 
	height: 353px;
	background-color: #005eb8;
}

.mask-group2 {
	position: absolute; top: 58px; left: 0; right: 0; 
	width: 100%;
}

.ion-social-youtube {
	position: absolute; top: 36px; left: 50%; 
	translate: -50% 0;
	margin-left: -91px;
	width: 30px;
	aspect-ratio: 1 / 1;
}

.garden-line-social {
	position: absolute; top: 40px; left: 50%; 
	translate: -50% 0;
	margin-left: -32px;
	width: 27px;
	aspect-ratio: 1 / 1;
}

.stash-social-facebook {
	position: absolute; top: 35px; left: 50%; 
	translate: -50% 0;
	margin-left: 27px;
	width: 31px;
	aspect-ratio: 1 / 1;
}

.lineicons-tiktok {
	position: absolute; top: 36px; left: 50%; 
	translate: -50% 0;
	margin-left: 90px;
	width: 33px;
	aspect-ratio: 1 / 1;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.header {
		padding-inline: var(--margin-md);
	}
	.card-left1 .card-text1 {
		margin-inline: var(--margin-sm);
	}
	.group {
		padding-inline: 0;
	}
	.card-left2 .card-text2 {
		margin-inline: var(--margin-sm);
	}
	.btn {
		padding-inline: var(--margin-md);
	}
	.btn-symbol1 {
		padding-inline: var(--margin-md);
	}
	.btn-symbol2 {
		padding-inline: var(--margin-md);
	}
	.btn-symbol3 {
		padding-inline: var(--margin-md);
	}
	.col {
		padding-inline: var(--margin-sm);
	}
	.card-c {
		padding-inline: var(--margin-sm);
	}
}

@media screen and (max-width: 576px) {
	.header {
		padding-inline: var(--margin-sm);
	}
	.btn {
		padding-inline: var(--margin-sm);
	}
	.btn-symbol1 {
		padding-inline: var(--margin-sm);
	}
	.btn-symbol2 {
		padding-inline: var(--margin-sm);
	}
	.btn-symbol3 {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container body (width < 614px) {
	.header {
		flex-direction: column;
		align-items: center;
		gap: 12px;
		padding: 8px;
	}
	.row1 {
		margin-left: 0; margin-right: 0;
	}
	.row4 {
		margin-left: 0; margin-right: 0;
	}
	.btn-symbol3 {
		margin-left: 0; margin-right: 0;
	}
	.screenshot1 {
		margin-left: 0; margin-right: 0;
	}
	.screenshot2 {
		margin-left: 0; margin-right: 0;
	}
	.header > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container body (width < 753px) {
	.row1 {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.row1 > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.row1 > .divider {
		display: none;
	}
}

@container body (width < 1197px) {
	.row3 {
		flex-direction: column;
		align-items: center;
		gap: 34px;
	}
	.row3 > .card-left1 {
		width: 100%;
		max-width: 382px;
	}
	.row3 > .group {
		width: 100%;
		max-width: 382px;
	}
	.row3 > .card-right1 {
		width: 100%;
		max-width: 382px;
		align-items: center;
	}
}

@container body (width < 910px) {
	.row4 {
		flex-direction: column;
		align-items: center;
		gap: 34px;
	}
	.row4 > .card-left2 {
		width: 100%;
		max-width: 382px;
	}
	.row4 > .card-right2 {
		width: 100%;
		max-width: 382px;
		align-items: center;
	}
}

@container body (width < 1197px) {
	.row5 {
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
	.row5 > * {
		text-align: center;
	}
	.row5 > .btn {
		width: 100%;
		max-width: 370px;
	}
	.row5 > .btn-symbol1 {
		width: 100%;
		max-width: 370px;
	}
	.row5 > .btn-symbol2 {
		width: 100%;
		max-width: 370px;
	}
}

@container col (width < 1197px) {
	.row6 {
		flex-direction: column;
		align-items: center;
		gap: 64px;
	}
	.row6 .card-left-btn-bottom {
		align-self: center;
	}
	.row6 > .card-left3 {
		width: 100%;
		max-width: 388px;
	}
	.row6 > .card-left3 > * {
		text-align: unset;
	}
	.row6 .card-btn-bottom {
		align-self: center;
	}
	.row6 > .card1 {
		width: 100%;
		max-width: 388px;
		align-items: center;
	}
	.row6 > .card1 > * {
		text-align: unset;
	}
	.row6 .card-btn-bottom {
		align-self: center;
	}
	.row6 > .card-right3 {
		width: 100%;
		max-width: 388px;
		align-items: center;
	}
	.row6 > .card-right3 > * {
		text-align: unset;
	}
}
